﻿@model Amur.Models.MainModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <title>КОФЕЙНЯ "АМУР"-ВКУС НАСТОЯЩЕЙ ЛЮБВИ.</title>
    <meta charset="utf-8" />
    <meta name="description" content="Кафе Амур - Вкус настоящей любви." />
    <meta name="keywords" content="Кафе Амур - Вкус настоящей любви." />
    <meta name="viewport" content="width=1020" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/awwwards.css" />

    <script src="/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/mediaelement-and-player.js")" type="text/javascript"></script>

    <script src="js/jquery/jquery-1.9.1.min.js"></script>
    <script src="js/jquery/jquery.color.js"></script>
    <script src="js/jquery/jquery.easing.1.3.js"></script>
    <script src="js/jquery/jquery.transform-0.9.3-jq1.8fix.js"></script>
    <script src="js/modernizr/modernizr.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22231731-5']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script src="js/j.js"></script>
    <!--BUILD 191-->
</head>
<body>
    <script>
        new Main();
    </script>


    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

     <script>
         $(document).ready(function () {
             var oAudio = document.getElementById('myaudio');
             
             $('#imgmute').on('click', function () {
                 if (oAudio.paused) {
                     oAudio.play();
                     document.images["imgmute"].src = '/images/sound-mute-icon.png';
                 }
                 else {
                     oAudio.pause();
                     document.images["imgmute"].src = '/images/sound-mute-icon-null.png';
                 }
             });
             
            
         });
    </script>
     
                   <audio id="myaudio" src="sound.mp3" autoplay loop></audio>


    <div class="preloaderHiddenData">Кафе Амур - Вкус настоящей любви.</div>
     
      <div  id="music"; style="background-repeat: no-repeat; width:300px;  border-bottom-width:3px; margin: 10px 0 0 90%; position: fixed; z-index:999;">
         
 <img id="imgmute"style="position: relative; height: 50px; width: 50px;" src="~/images/sound-mute-icon.png" />

      </div>

    <div class="page page0">

        <div class="pageCenter">
            <div id="page0_layer3" class="layer starsBack">
                <img src="images/page0/stars_back.png" />
            </div>

            <div class="layer starsFront">
                <img src="images/page0/stars_front.png" />
            </div>

            <div class="layer ufo">
                <img src="images/page0/ufo.png" />
            </div>

            <div class="layer logo">
                <img class="boycoy" src="images/page0/boycoy.png" />
                <img class="loading" src="images/page0/loading.gif" />
            </div>
        </div>

    </div>

    <div class="page page1">

        <div class="layer background">
            <div class="shape"></div>
        </div>

        <div class="pageCenter">

            <div class="layer robbo">
                <img class="armRight" src="images/page1/robbo_arm_right.png" />
                <img class="armLeft" src="images/page1/robbo_arm_left.png" />
                <img class="body" src="images/page1/robbo_body.png" />
            </div>

            <div class="layer header">
                <div class="column columnLeft">
                    <a href="#home">
                        <div id="top_logo">
                            <a href="http://кафеамур.рф">
                                <img src="http://кафеамур.рф/images/logos.png" alt="" /></a>
                        </div>
                    </a>
                    <div class="line"></div>
                </div>
                <div class="column columnCenter">
                </div>
                <div class="column columnRight">
                    <div id="page1_menus" class="menus">

                        <a href="#home">
                            <div class="menu home">
                                <div class="type normal">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        <img src="images/home_black.png" />
                                    </div>
                                </div>
                                <div class="type over">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        <img src="images/home_red.png" />
                                    </div>
                                </div>
                                <div class="type selected">
                                    <div class="background">
                                        <img class="stick" src="images/menu/indicator_home.png" />
                                    </div>
                                    <div class="menuContent">
                                        <img src="images/home_red.png" />
                                    </div>
                                </div>
                                <div class="type shape">
                                </div>
                            </div>
                        </a>

                        <a href="#apps">
                            <div class="menu apps">
                                <div class="type normal">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        Меню
                                    </div>
                                </div>
                                <div class="type over">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        Меню
                                    </div>
                                </div>
                                <div class="type selected">
                                    <div class="background">
                                        <img class="stick" src="images/menu/indicator_other.png" style="zoom: 1;" />
                                    </div>
                                    <div class="menuContent">
                                        Меню
                                    </div>
                                </div>
                                <div class="type shape">
                                </div>
                            </div>
                        </a>

                        <a href="#about">
                            <div class="menu about">
                                <div class="type normal">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        О нас
                                    </div>
                                </div>
                                <div class="type over">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        О нас
                                    </div>
                                </div>
                                <div class="type selected">
                                    <div class="background">
                                        <img class="stick" src="images/menu/indicator_other.png" />
                                    </div>
                                    <div class="menuContent">
                                        О нас
                                    </div>
                                </div>
                                <div class="type shape">
                                </div>
                            </div>
                        </a>

                        <a href="#contact">
                            <div class="menu contact">
                                <div class="type normal">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        Контакты
                                    </div>
                                </div>
                                <div class="type over">
                                    <div class="background">
                                    </div>
                                    <div class="menuContent">
                                        Контакты
                                    </div>
                                </div>
                                <div class="type selected">
                                    <div class="background">
                                        <img class="stick" src="images/menu/indicator_other.png" />
                                    </div>
                                    <div class="menuContent">
                                        Контакты
                                    </div>
                                </div>
                                <div class="type shape">
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>

            <div class="layer main mainLeft">
                <div class="hello">
                    <h1><font color="#484d58">Здравствуйте!</font></h1>
                    <div class="textDescription">Мы рады приветствовать вас на сайте кофейни «Амур».</div>
                    <div class="contactWrapper">
                        <span class="image"></span>
                        </span>
             </a>
             <img class="txtNeed" src="images/page1/txt_need.png" />
                    </div>
                </div>
            </div>
            <div class="layer main mainRight">
                <a href="https://www.facebook.com/lara.granina" target="_blank">
                    <div class="fb">
                        <img class="out" src="images/page1/fb.png" />
                        <img class="over" src="images/page1/fb_over.png" />
                        <div class="shape"></div>
                    </div>
                </a>
                <div>
                    <img class="slice2" src="images/page1/slice2.png" /></div>
                <a href="http://vk.com/club19590675" target="_blank">
                    <div class="am">
                        <img class="out" src="images/page1/gp.png" />
                        <img class="over" src="images/page1/gp_over.png" />
                        <div class="shape"></div>
                    </div>
                </a>
                <div>
                    <img class="slice1" src="images/page1/slice1.png" /></div>
                <a href="http://www.odnoklassniki.ru/group/50938629128282" target="_blank">
                    <div class="tw">
                        <img class="out" src="images/page1/tw.png" />
                        <img class="over" src="images/page1/tw_over.png" />
                        <div class="shape"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="page page2">

        <div class="layer background">
            <div class="clouds2"></div>

            <div class="clouds1">
                <div class="pageCenter">
                    <img class="cloud img1" src="images/clouds/1.png" />
                    <img class="cloud img2" src="images/clouds/2.png" />
                    <img class="cloud img4" src="images/clouds/4.png" />
                    <img class="cloud img5" src="images/clouds/5.png" />
                </div>
            </div>
        </div>

        <div class="layer clouds3">
            <div class="pageCenter">
                <img class="cloud img6" src="images/clouds/6.png" />
                <img class="cloud img7" src="images/clouds/7.png" />
                <img class="cloud img9" src="images/clouds/9.png" />
                <img class="cloud img11" src="images/clouds/11.png" />
                <img class="cloud img12" src="images/clouds/12.png" />
                <img class="cloud img14" src="images/clouds/14.png" />
                <img class="cloud img15" src="images/clouds/15.png" />
            </div>
        </div>

        <div class="pageCenter">

            <div class="layer clouds4">
                <img class="cloud img8" src="images/clouds/8.png" />
                <img class="cloud img10" src="images/clouds/10.png" />
                <img class="cloud img13" src="images/clouds/13.png" />
            </div>

            <div class="pageContent">

                <div class="layer main mainCenter">
                    <div class="floatingTv">
                        <div class="baloons">
                            <div class="baloon baloonLeft">
                                <img src="images/page2/baloon_left.png" />
                            </div>
                            <div class="baloon baloonRight">
                                <img src="images/page2/baloon_right.png" />
                            </div>
                            <div class="baloon baloonCenter">
                                <img src="images/page2/baloon_center.png" />
                            </div>
                        </div>
                        <div class="tvScreen">
                            <img src="images/page2/tv_screen.png" />
                            <a href="http://кафеамур.рф/gallery" target="_blank">
                                <img class="rating" src="images/page2/badge_5stars.png" /></a>
                            <div class="screenshotsFrame">
                                <div class="screenshots">
                                    <img src="images/page2/powerbubble/screenshots/1.jpg" />
                                    <img src="images/page2/powerbubble/screenshots/2.jpg" />
                                    <img src="images/page2/powerbubble/screenshots/3.jpg" />
                                    <img src="images/page2/powerbubble/screenshots/4.jpg" />
                                    <img src="images/page2/powerbubble/screenshots/5.jpg" />
                                    <img src="images/page2/powerbubble/screenshots/6.jpg" />
                                    <img src="images/page2/powerbubble/screenshots/7.jpg" />
                                    <img src="images/page2/powerbubble/screenshots/8.jpg" />
                                </div>
                                <div class="button previous">
                                    <div class="visibleShape"></div>
                                </div>
                                <div class="button next">
                                    <div class="visibleShape"></div>
                                </div>
                            </div>
                            <div class="indicators">
                                <div class="indicator">
                                    <div class="centerWrapper">
                                        <div class="center">
                                            <img src="images/page2/indicator_on.png" />
                                            <img src="images/page2/indicator_off.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="indicator">
                                    <div class="centerWrapper">
                                        <div class="center">
                                            <img src="images/page2/indicator_on.png" />
                                            <img src="images/page2/indicator_off.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="indicator">
                                    <div class="centerWrapper">
                                        <div class="center">
                                            <img src="images/page2/indicator_on.png" />
                                            <img src="images/page2/indicator_off.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="description" src="images/page2/description.png" />
                </div>

                <div class="layer main mainLeft">
                    @*<a href="http://кафеамур.рф/uslugi">
                        <img class="app" src="images/page2/powerbubble/app.png"></a>*@
                    <a href="http://кафеамур.рф/menu/index.html" target="_blank">
                        <div class="download">
                            <img class="out" src="images/page2/download.png" />
                            <img class="over" src="images/page2/download_over.png" />
                            <div class="shape"></div>
                        </div>
                        <img class="freeDownload" src="images/page2/free_download.png">
                    </a>
                </div>

                <div class="layer main mainRight">
                    <div class="header">
                        Отзывы
                    </div>
                    <div class="testimonials">
                        <img class="gradientTop" src="images/page2/gradient_top.png">
                        <div class="testimonial">
                            <div class="quote">
                                <img src="images/page2/testimonials.png" />
                            </div>
                            <div class="text">
                                Были у вас не так давно, все очень вкусно, особенно двойное экспрессо, после долгого рабочего дня :))
                  <div class="signature">
                      <div class="line"></div>
                      Андрей</div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="quote">
                                <img src="images/page2/testimonials.png" />
                            </div>
                            <div class="text">
                                Очень уютная обстановка, хороший дизайн, и таааак спокойно, что хочеться остаться у вас навсегда!)
                  <div class="signature">
                      <div class="line"></div>
                      Екатерина</div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="quote">
                                <img src="images/page2/testimonials.png" />
                            </div>
                            <div class="text">
                                Никогда не думала, что пить кофе, особенно в таком месте, будет настолько приятно, что и домой идти не захочется.
                  <div class="signature">
                      <div class="line"></div>
                      Ангелина</div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="quote">
                                <img src="images/page2/testimonials.png" />
                            </div>
                            <div class="text">
                                Отмечали у вас мой день рождение, местечко очень просторное, мы всем довольны! Спасибо!
                  <div class="signature">
                      <div class="line"></div>
                      Дмитрий</div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="quote">
                                <img src="images/page2/testimonials.png" />
                            </div>
                            <div class="text">
                                ААААА!!! У вас прекрасно готовят, роллы просто обалденные!!! 
                  <div class="signature">
                      <div class="line"></div>
                      Наталья</div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="quote">
                                <img src="images/page2/testimonials.png" />
                            </div>
                            <div class="text">
                                Я не далек в японской кухне, но попробовав роллы "Калифорния", реально подсел)
                  <div class="signature">
                      <div class="line"></div>
                      Николай</div>
                            </div>
                        </div>
                        <img class="gradientBottom" src="images/page2/gradient_bottom.png">
                    </div>
                    </a>
                </div>

                <div class="layer header">
                    <div class="column columnLeft">
                        <a href="#home">
                            <div id="top_logo">
                                <a href="http://кафеамур.рф">
                                    <img src="http://кафеамур.рф/images/logos.png" alt="" /></a>
                            </div>
                        </a>
                        <div class="line"></div>
                    </div>
                    <div class="column columnCenter">
                    </div>
                    <div class="column columnRight">
                        <div id="page2_menus" class="menus">

                            <a href="#home">
                                <div class="menu home">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_black.png" />
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_black.png" />
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_home.png" />
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_white.png" />
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#apps">
                                <div class="menu apps">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#about">
                                <div class="menu about">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#contact">
                                <div class="menu contact">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="line line_right"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="page page3">
        <div class="layer background">
            <div class="mountains3">
                <img class="mountainsFlag" src="images/page3/flag.png" />
                <div class="mountainsBackground"></div>
            </div>
        </div>

        <div class="layer mountains1">
            <div class="pageCenter">
                <img class="mountain5" src="images/page3/mountains/5.png" />
                <img class="mountain6" src="images/page3/mountains/6.png" />
                <img class="mountain7" src="images/page3/mountains/7.png" />
                <img class="mountain8" src="images/page3/mountains/8.png" />
                <img class="mountain9" src="images/page3/mountains/9.png" />
            </div>
        </div>

        <div class="pageCenter">

            <div class="layer mountains2">
                <img class="mountain1" src="images/page3/mountains/1.png" />
                <img class="mountain2" src="images/page3/mountains/2.png" />
                <img class="mountain3" src="images/page3/mountains/3.png" />
                <img class="mountain4" src="images/page3/mountains/4.png" />
            </div>

            <div class="pageContent">

                <div class="layer main mainCenter">
                    <div class="roboHand">
                        <img class="roboHandArm" src="images/page3/robo_hand_arm.png" />
                    </div>
                </div>

                <div class="layer main mainRight">
                    <div class="header">
                    </div>
                    <div class="description">
                        <font size="3">
			  <p>Да, здесь было весело, здесь праздновались дни рождения местного сложившегося сообщества, но скоро все это надоело. Надоело движение в никуда и тогда было принято судьбоносное решение: ломать  и строить заново.</p>
<p>Старые завсегдатаи перезагрузку приняли в штыки ,но «Амур» это не остановило.
И всего за месяц тяжелого  труда, бессонных ночей и неимоверных  моральных и физических сил кофейня «Амур» кардинально перевоплотилась   и внешне, и по своей сути,  и 28 июня 2010 года вновь распахнула для гостей свои двери.
Она стала именно кофейней, местом ,где приятно быть, где ,по множеству отзывов ,варят роскошный кофе, где повара умеют замечательно готовить, где сама атмосфера создает хорошее настроение и приятные воспоминания…
Здесь не раз праздновались юбилеи и свадьбы, проводились  детские праздники и дни рождения ,и всегда наши гости оставались довольны  и благодарны всем тем, кто старался для них.
И теперь наша дорога-только вперед!
Вот такая она-наша кофейня «Амур»!
</p></font>

                    </div>
                    <a href="#contact">
                        <div class="letsWork linkify">
                            <span class="image"></span>
                        </div>
                    </a>
                </div>

                <div class="layer main mainLeft paperWhite">
                    <div class="paperContent">
                        <img src="images/page3/paper_white.png" />
                        <div class="text">
                            <div class="header">
                                <font size="3">Ты помнишь, как всё начиналось…</font>
                            </div>
                            <font size="3">А история начиналась обычно, как многие ,похожие одна на другую, истории:  пришла в голову идея открыть кафе, место, где будут собираться друзья, где будет весело, шумно, да и вообще-просто хотелось приложить куда-то свои руки. </font>
                            <p>
                                Далеко в будущее не заглядывали, особых планов насчет кафе не строили, а просто-строили и 10 марта 2009 года, наконец, построили. Так родилась «Кофейня Амур».
Недавно мы, вспоминая, пытались определить тогдашний формат «Амура» и пришли к выводу, что в то время  кафе можно было бы смело назвать пивнушкой, где  собирались неформалы и куда заходили на огонёк любопытствующие  посмотреть, что же тут  такое…
                            </p>
                        </div>
                    </div>
                </div>


                <div class="layer header">
                    <div class="column columnLeft">
                        <a href="#home">
                            <div id="top_logo">
                                <a href="http://кафеамур.рф">
                                    <img src="http://кафеамур.рф/images/logos.png" alt="" /></a>
                            </div>
                        </a>
                        <div class="line"></div>
                    </div>
                    <div class="column columnCenter">
                    </div>
                    <div class="column columnRight">
                        <div id="page3_menus" class="menus">

                            <a href="#home">
                                <div class="menu home">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_black.png" />
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_brown.png" />
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_home.png" />
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_brown.png" />
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#apps">
                                <div class="menu apps">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#about">
                                <div class="menu about">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#contact">
                                <div class="menu contact">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="page page4">
        <div class="layer background3">
            <div class="shape">
                <div class="waveContainer">
                    <div id="wave3" class="wave"></div>
                </div>
            </div>
        </div>

        <div class="layer background2">
            <div class="shape">
                <div class="waveContainer">
                    <div id="wave2" class="wave"></div>
                </div>
            </div>
        </div>

        <div class="layer background1">
            <div class="shape">
                <div class="waveContainer">
                    <div id="wave1" class="wave"></div>
                </div>
            </div>
        </div>

        <div class="pageCenter">

            <div class="pageContent">

                <div class="layer header">
                    <div class="column columnLeft">
                        <a href="#home">
                            <div class="logoContainer">
                                <div class="logo out">
                                    <div class="head"></div>
                                    <div class="boyCoy"></div>
                                </div>
                            </div>
                        </a>
                        <div class="line"></div>
                    </div>
                    <div class="column columnCenter">
                    </div>
                    <div class="column columnRight">
                        <div id="page4_menus" class="menus">

                            <a href="#home">
                                <div class="menu home">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_grey.png" />
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_black.png" />
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_black_home.png" />
                                        </div>
                                        <div class="menuContent">
                                            <img src="images/home_grey.png" />
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#apps">
                                <div class="menu apps">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_black_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            Меню
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#about">
                                <div class="menu about">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_black_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            О нас
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                            <a href="#contact">
                                <div class="menu contact">
                                    <div class="type normal">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type over">
                                        <div class="background">
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type selected">
                                        <div class="background">
                                            <img class="stick" src="images/menu/indicator_black_other.png" />
                                        </div>
                                        <div class="menuContent">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="type shape">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="line"></div>
                    </div>
                </div>


                <div class="layer main mainLeft">
                    <div class="envelopes">
                        <div " class="envelopeCover in">
                            <div id="letterMessage" style="position:absolute; z-index:999; margin: 400px 0 0 100px; color:#0A0A74; background: rgba(1, 1, 1, 0.0);">

                            </div>
                            <img src="images/page4/envelope_cover_in.png" />
                        </div>
                        <img class="envelopeIn" src="images/page4/envelope_in.png" />
                       @*   <div id="loading" style="display: none; background: rgba(19, 153, 46, 0.8); left: 0px; top: 0px; height: 100%; width: 100%; font-weight: bold; position: absolute;">
                          <div id="result" class="ContentSongs"><p>Туууут будут какие то данные: </p>@Html.Partial("letterAction");</div>*@
                        @{
                            using (Ajax.BeginForm("letterAction", "Index", new AjaxOptions
                            {

                                UpdateTargetId = "letterMessage", //"letterResult",
                                LoadingElementId = "loading",
                                LoadingElementDuration = 1000,
                                InsertionMode = InsertionMode.Replace
                            }))
                            {                 
                            <div class="letterWrapper">
                                <div class="letter">
                                    <div class="letterBackground">
                                        <img src="images/page4/letter.png" />

                                        <div class="shape"></div>
                                    </div>
                                    <div class="letterContent">
                                        <div id="letterResult" class="dearBoyCoy handwrittenFont">Кофейне "Амур"</div>
                                        <div class="lineWrapper mailNameContainer handwrittenFont">
                                            <div class="line">
                                                <div class="text">Мое имя&nbsp;</div>
                                                <div class="text textFillWidth">
                                                    <div class="textContentWrapper">
                                                        <input class="handwrittenFont" spellcheck="false" type="text" name="name" value="" />
                                                        <div class="underline"></div>
                                                        <div class="exclamationMark">
                                                            <img src="images/page4/exclamation_mark.png" /></div>
                                                    </div>
                                                </div>
                                                <div class="text">, моя </div>
                                            </div>
                                        </div>
                                        <div class="lineWrapper mailFromContainer handwrittenFont">
                                            <div class="line">
                                                <div class="text">почта&nbsp;</div>
                                                <div class="text textFillWidth">
                                                    <div class="textContentWrapper">
                                                        <input class="handwrittenFont" spellcheck="false" type="text" name="myemail" value="" />
                                                        <div class="underline"></div>
                                                        <div class="exclamationMark">
                                                            <img src="images/page4/exclamation_mark.png" /></div>
                                                    </div>
                                                </div>
                                                <div class="text">. Хочу сказать:</div>
                                            </div>
                                        </div>
                                        <div class="mailContentContainer handwrittenFont">
                                            <textarea class="handwrittenFont" spellcheck="false" name="content"></textarea>

                                            <div class="underline"></div>
                                            <div class="exclamationMark">
                                                <img src="images/page4/exclamation_mark.png" /></div>
                                            <br />

                                            <div class="underline"></div>
                                        </div>
                                    </div>
                                    <div class="letterForeground">
                                        <div class="mailSendWrapper centerText">
                                            <div class="mailContainer mailSendContainer">
                                                @*<button><span class="text">Отправить</span><img src="images/arrow_white.png"/>
                        </button>*@
                                          <button id="sendclickbutton"> <input id="sendclick" style="margin-left: 14px; margin-top: 9PX; color:#fff;"  onclick="myfunction();" type="submit" name="LetterSend" />
                                                <img src="images/arrow_white.png"/></button> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                          <script>
                              $(document).ready(function () {
                                  
                                  $("#sendclick").bind("click", function () {
                                      
                                      setTimeout(function () {
                                          
                                          $('#letterMessage').text(' ');
                                      }, 5000);
                                      
                                  });
                                  $("#sendclickbutton").bind("click", function () {

                                      setTimeout(function () {

                                          $('#letterMessage').text(' ');
                                      }, 5000);

                                  });
                              });

        </script>
                        <div class="letterSending letterStatus centerText">
                            <span class="info handwrittenFont">Посылающий
                            </span>
                        </div>
                        <div class="letterSent letterStatus centerText">
                         @*   <span class="info handwrittenFont">Вы только что<br />
                                отправили нам письмо ;)
                            </span>*@
                            <br />

                            <div class="linkifyForm goBack">
                                <span class="text">Назад</span>
                                <span class="image">
                                    <img class="out" src="images/page4/go_back_green.png" /><img class="over"
                                        src="images/page4/go_back_white.png" />
                                </span>
                            </div>
                        </div>
                        <div class="letterError letterStatus centerText">
                            @*<span class="info handwrittenFont">Извините. Мир жесток...<br />
                                Ошибка на сервере. :(
                            </span>*@
                            <br />

                            <div class="linkifyForm goBack">
                              @*  <span class="text">Попробовать снова</span>*@
                                <span class="image">
                                    <img class="out" src="images/page4/go_back_green.png" /><img class="over"
                                        src="images/page4/go_back_white.png" />
                                </span>
                            </div>
                        </div>
                        <div class="envelopeOut">
                            <img class="envelopeOutTop" src="images/page4/envelope_out_top.png" />
                            <img class="envelopeOutBottom" src="images/page4/envelope_out_bottom.png" />
                        </div>
                        <!--                 <div class="envelopeCover out"> -->
                        <!--                   <img src="images/page4/envelope_cover_out.png" /> -->
                        <!--                 </div> -->
                    </div>
                    <img class="getInTouch" alt="get in touch" src="images/page4/getintouch.png" />
                </div>

                <div class="layer main mainRight">
                    <div class="header">
                        Контакты
                    </div>
                    <div class="text">
                    </div>
                    <div class="iconText iconTextMargin">
                        <a href="lifrissimo2@mail.ru">
                            <div class="icon iconEmailHello"></div>
                            <span class="emailHello linkify">
                                <span class="text">lifrissimo2@mail.ru</span>
                            </span>
                        </a>
                    </div>
                    <div class="iconText iconTextMargin">
                        <div class="icon iconPhone"></div>
                        8(49234)77-0-23
                    </div>
                    <div class="iconText iconTextMargin">
                        <div class="icon iconPhone"></div>
                        8(910) 098-54-48
                    </div>
                    <div class="iconText iconTextMargin">
                        <div class="icon iconLocation"></div>
                        Муром, ул. Московская, 19
                    </div>
                    <div class="header">
                        Мы в сети
                    </div>
                    <div class="text">
                        Следуйте за нами и узнайте обо всем первыми!
                    </div>
                    <div class="group">
                        <div class="iconText iconTextRelative1">
                            <a href="https://www.facebook.com/lara.granina" target="_blank">
                                <span class="facebook linkify">
                                    <span class="text"><font size="3">Facebook</font></span>
                                </span>
                            </a>
                        </div>
                        <div class="iconText iconTextRelative2">
                            <a href="http://vk.com/club19590675" target="_blank">
                                <span class="linkedIn linkify">
                                    <span class="text"><font size="3">Вконтакте</font></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="iconText iconTextRelative1">
                            <a href="http://www.odnoklassniki.ru/group/50938629128282"
                                target="_blank">
                                <span class="googlePlus linkify">
                                    <span class="text"><font size="3">Одноклассники</font></span>
                                </span>
                            </a>
                        </div>
                        <div class="iconText iconTextRelative2">

                            <span class="twitter linkify"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="layer mainBottom">
            <div class="pageCenter">
                <div class="octopus"></div>
            </div>

            <footer>
                <div class="pageCenter darker">
                    <div class="wrapperTable">
                        <div class="wrapperRow">

                            <div class="wrapperCell wrapperLeft">
                                <span>Все права защищены</span>
                                <span>©2014 Кофейня "Амур"</span>
                                <span>Разработка сайта - команда
                                    <a href="https://vk.com/dream_place_group" target="_blank">
                                        <span class="lighter linkify">
                                            <span class="text">Dream Place</span>
                                        </span>
                                    </a>
                                </span>
                            </div>

                            <div class="wrapperCell wrapperCenter">
                            </div>

                            <div class="wrapperCell wrapperRight">
                            </div>
                        </div>
                    </div>
            </footer>
        </div>

    </div>

    <div class="streacher"></div>

</body>
</html>
