@font-face {
  font-family: 'fontello';
  src: url("fontello.eot");
  src: url("fontellod41d.eot?#iefix") format('embedded-opentype'), url("fontello.woff") format('woff'), url("fontello.ttf") format('truetype'), url("fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-dribbble:before { content: '\44'; } /* 'D' */
.icon-linkedin:before { content: '\4c'; } /* 'L' */
.icon-vimeo:before { content: '\56'; } /* 'V' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */