@charset "utf-8";

/* ============================== */
/* 
	- Title: Scotty 
	- Autor: coralixthemes.com
	- Email: coralixthemes@gmail.com
	- Version: 1.0
*/
/* ============================== */


/* ---------------------------------------------------------------------- */
/*	Import styles
/* ---------------------------------------------------------------------- */

/*1140.css  - include resetes ( Media querys, grid-responsive,layout).*/
@import url("queries/1140.css");
/*jquery.fancybox-1.3.1.css  - Lightbox*/
@import url("../js/fancybox/jquery.fancybox-1.3.1.css");
/*slide.css*/
@import url("slide/slide.css");
/*Carousel.css*/
@import url("carousel/flexslider.css");
/*Google Fonts*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Quicksand");



/* ---------------------------------------------------------------------- */
/*	Basic Elements
/* ---------------------------------------------------------------------- */

/* Standar Styles --------------------------------------------------------*/

body{
	font-size: 13px;	
	font-family: 'Open Sans', sans-serif;
	line-height:24px;
	color:#5d5d5d;
	position: relative;
	font-weight:normal;	
	background-color: #f0f0f0;
	
}
a{
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
p{
	margin:0 0 20px 0;
	padding: 0;
	text-shadow:1px 1px 0 #fff;
}
h1 {font-size:30px;
	text-align: center;
}
h2 {font-size:24px;}
h3 {font-size:20px;}
h4 {font-size:18px; }
h5 {font-size:16px;}
h6 {font-size:14px;}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 30px;
	padding: 5px 0 15px 0;	
	font-family: 'Quicksand', sans-serif;
	color: #46738d;
	text-shadow:1px 1px 0 #fff;
	
}

/* Class and styles General ----------------------------*/

.clearfix{
	width:1px;
	height:1px;	
	display:block;
	clear:both;
	content:" , ";
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.text_right{
	text-align: right;
}
.center{
	text-align: center;
}
strong{
	color: #333;
}

/* Top ----------------------------------------------*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url("../img/ui.totop.png") no-repeat left top;
}
#toTopHover {
	background:url("../img/ui.totop.png") no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;	
}
#toTop:active, #toTop:focus {
	outline:none;
}

/* Theme Options ----------------------------------------------*/

#theme-options {
	display:none;
	position:fixed;
	display: block; 
	z-index: 26;		
	left:0;
	top: 170px;
	border: 1px solid #dbdbdb;
	background: #fff;
	z-index: 2;	
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);	
}
#theme-options .title {
	padding: 10px 5px 10px 5px;	
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	background: #1c1c1c url("../img/options.png") right no-repeat;
	border-bottom: 1px solid #dbdbdb;
	cursor: pointer;
}
#theme-options span {
	display: block;
	width: 100%;
	padding: 10px 12px 0 12px;
	font-size: 11px;
}
#theme-options ul.backgrounds { 
	padding: 6px 12px; 
}
#theme-options ul.backgrounds li {
	display: inline-block;
	margin: 0;
	border: 1px solid #dbdbdb;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background-repeat: repeat;
	cursor: pointer;
}
#theme-options ul.backgrounds li:hover { 
	border-color: #ccc; 
}
#theme-options ul.backgrounds li.active,#theme-options ul.backgrounds li.active:hover { 
	border-color: #ff9600; 
}
#theme-options ul.backgrounds li.bgnone { background-image: url("../img/bg-theme/none.jpg"); }
#theme-options ul.backgrounds li.bg1 { background-image: url("../img/bg-theme/01.png"); }
#theme-options ul.backgrounds li.bg2 { background-image: url("../img/bg-theme/02.png"); }
#theme-options ul.backgrounds li.bg3 { background-image: url("../img/bg-theme/03.png"); }
#theme-options ul.backgrounds li.bg4 { background-image: url("../img/bg-theme/04.png"); }
#theme-options ul.backgrounds li.bg5 { background-image: url("../img/bg-theme/05.png"); }
#theme-options ul.backgrounds li.bg6 { background-image: url("../img/bg-theme/06.png"); }
#theme-options ul.backgrounds li.bg7 { background-image: url("../img/bg-theme/07.png"); }
#theme-options ul.backgrounds li.bg8 { background-image: url("../img/bg-theme/08.png"); }
#theme-options ul.backgrounds li.bg9 { background-image: url("../img/bg-theme/09.png"); }
#theme-options ul.backgrounds li.bg10 { background-image: url("../img/bg-theme/10.png"); }
#theme-options ul.backgrounds li.bg11 { background-image: url("../img/bg-theme/11.png"); }
#theme-options ul.backgrounds li.bg12 { background-image: url("../img/bg-theme/12.png"); }
#theme-options ul.backgrounds li.bg13 { background-image: url("../img/bg-theme/13.png"); }
#theme-options ul.backgrounds li.bg14 { background-image: url("../img/bg-theme/14.png"); }
#theme-options ul.backgrounds li.bg15 { background-image: url("../img/bg-theme/15.png"); }
#theme-options ul.backgrounds li.bg16 { background-image: url("../img/bg-theme/16.png"); }
#theme-options ul.backgrounds li.bg17 { background-image: url("../img/bg-theme/17.png"); }
#theme-options ul.backgrounds li.bg18 { background-image: url("../img/bg-theme/18.png"); }
#theme-options ul.backgrounds li.bg19 { background-image: url("../img/bg-theme/19.png"); }
#theme-options ul.backgrounds li.bg20 { background-image: url("../img/bg-theme/20.png"); }
#theme-options ul.backgrounds li.bg21 { background-image: url("../img/bg-theme/21.png"); }
#theme-options ul.backgrounds li.bg22 { background-image: url("../img/bg-theme/22.png"); }
#theme-options ul.backgrounds li.bg23 { background-image: url("../img/bg-theme/23.png"); }
#theme-options ul.backgrounds li.bg24 { background-image: url("../img/bg-theme/24.png"); }
#theme-options ul.backgrounds li.bg25 { background-image: url("../img/bg-theme/25.png"); }
#theme-options ul.backgrounds li.bg26 { background-image: url("../img/bg-theme/26.png"); }
#theme-options ul.backgrounds li.bg27 { background-image: url("../img/bg-theme/27.png"); }
#theme-options ul.backgrounds li.bg28 { background-image: url("../img/bg-theme/28.png"); }
#theme-options ul.backgrounds li.bg29 { background-image: url("../img/bg-theme/29.png"); }
#theme-options ul.backgrounds li.bg30 { background-image: url("../img/bg-theme/30.png"); }
#theme-options ul.backgrounds li.bg31 { background-image: url("../img/bg-theme/31.png"); }
#theme-options ul.backgrounds li.bg32 { background-image: url("../img/bg-theme/32.png"); }
#theme-options ul.backgrounds li.bg33 { background-image: url("../img/bg-theme/33.png"); }



/* ---------------------------------------------------------------------- */
/*	General Structure
/* ---------------------------------------------------------------------- */

/* Header Top ----------------------------*/

header .top{
	background-color: #1e1e1e;
	padding: 12px 0;
	color: #c2c2c2;
	border-bottom:1px solid #80a7bf;
}
header .top p{
	margin:0;
	text-shadow:1px 1px 0 #000;
}
.registration_login{
	border-right: 2px solid #4b4b4b;
	overflow: auto;
	float: right;
}
.registration_login li{
	float: left;
	padding-right: 15px;
	color: #fff;
}
.login{
	background: url("../img/user.png") 0 5px no-repeat;	
	padding-left: 20px;
}
.key{
	background: url("../img/key.png") 0 5px no-repeat;	
	padding-left: 20px;
}
.login_box{
	display:none;
	position:absolute;
	display: block; 
	width: 250px;
	height: 240px;
	margin-left: 8%;	
	padding: 20px 30px 0px 30px;
	border-radius: 5px;
	border-bottom: 2px solid #111;
	z-index: 26;		
	border: 1px solid #dbdbdb;
	background: #fff;
	z-index: 2;	
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);	
}
.arrow_login{
	display: block;
	float: left;
	margin-left:15px;	
	margin-top:-29px;
	z-index: 2;	
	background: url("../img/arrow_login.png") no-repeat;
	width: 42px;
	height: 11px;	
}
label{
	color: #1e1e1e;	
}
.login_box input[type="email"], input[type="password"],input{
	padding: 0px 10px;
	border-radius:3px;
	margin: 5px 0 20px 0;
	width: 95%;
	height: 30px;	
	font-size: 12px;
	line-height: 1;
	border:1px solid #9ea5ac;
	color: #666;
	background-color: #fff;	
	padding: 0 0 0 11px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);	
}
.login_box .button{
	width: 100%;
	height: 40px;
}
.social li{
	float: left;
	margin:0 10% 0 0;
	width: 5%;
}
.social li a{
	color: #fff;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
}
.social li a:hover{
	color: #b1d4e8;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
}

.logo{
	position: absolute;
	z-index: 1;
	padding: 40px 0 0 0;
}


/* Header Slide ----------------------------*/

header .slide{
	background: url("../img/bg-slide.jpg");
	height: 640px;
}
.underline{
	text-decoration: underline;
}

/* Info ----------------------------*/

.welcome{
	text-align: center;
}
.welcome h1{
	font-size:33px;
	letter-spacing:-2px;
}
.welcome h4{
	color: #989898;
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	font-weight:normal;
	letter-spacing:normal;
	font-size:23px;
}
section.info{
	padding: 100px 0 180px 0;
}
.services{
	margin: 130px 0 50px 0;
	overflow: auto;	
}
.service_item{
	margin:20px 0;
}
.service_item h3{
	padding-top: 12px;
	color:#003d68;
	font-size:22px;
	letter-spacing:-2px;
}
.phone img{
	width: 100%;
}
.icon_service{
	float: left;
	margin:0 5% 10px 0;	
}
.icon_service img{
	width: 100%;	
}
.arrow_left {
	display: block;
	float: right;	
	margin-top: -18%;
	margin-right: -10%;
	z-index: 2;	
	background: url("../img/arrow_left.png") no-repeat;
	width: 92px;
	height: 35px;	
}
.arrow_right {
	display: block;
	float: left;	
	margin-top: 3%;	
	margin-left: -14%;
	z-index: 2;	
	background: url("../img/arrow_right.png") no-repeat;
	width: 95px;
	height: 35px;	
}
.padding_top{
	padding-top: 100px;
}
.padding_buttom{
	padding-bottom: 70px;
}


.newsletter{
	width: 100%;
	padding: 35px 2%;
	border-radius: 5px;
	overflow: auto;
	background-color: #fff;
	border-bottom: 2px solid #d8d8d8;
}
.newsletter p{
	margin-bottom: 0;
}
.newsletter h4{
	font-family: 'Open Sans', sans-serif;
	color:#46738d;
	font-size:20px;
}
.newsletter input[type="text"], input[type="email"],input[type="number"]{
	padding: 0px 10px;
	border-radius:3px;
	width: 60%;
	height: 35px;	
	font-size: 12px;
	line-height: 1;
	border:1px solid #dbdbdb;
	color: #666;
	background-color: #fff;	
	padding: 0 0 0 11px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);	
}
.newsletter .button {
	width: auto;
	margin:10px 15px 10px 3%;
}
.button {	
	display: inline-block;
	border:1px solid #4597ce;
	height: 35px;	
	background: #5c95b4 url("../img/bg_button.png");	
	padding:4px 20px 4px 20px;
	color: #fff;
	outline: none;
	color: white;
	vertical-align: baseline;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.information{
	margin-top: 150px;	
}
.information h1{
	padding-bottom:40px;
	letter-spacing:-2px;
}
.information img{
	border:solid 1px #dcdcdc;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
	width: 98%;
}


/* screenshots ----------------------------*/

.screenshots{
	margin-top: 150px;	
}
.screenshots h1{
	padding-bottom:40px;
	letter-spacing:-2px;
}
.screenshots img{
	border:solid 1px #dcdcdc;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
	width: 98%;
}
.item-preview {
	background:url("../img/bg-fade.png") no-repeat center center;
	display: block;
}
	
/* ul - list-check style */
ul.check li { background: url("../img/list-check.png") 0 5px no-repeat; line-height: 20px;margin:10px 0; padding-left: 20px; }

.screenshots{
	margin-top: 200px;
}


/* Testimonials ----------------------------*/

section.testimonials{
	background: url("../img/bg-testimonials.jpg");
	border-top: 1px solid #dcdcdc;
	padding: 70px 0 85px 0;
}
section.testimonials h2{
	margin-bottom: 60px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	color: #46738d;
	letter-spacing:-2px;
}
.testimonials h2 img{
	position: absolute;
	margin-top: -38px;
}
section.testimonials .avatar{	
	float: left;
	width: 22%;	
	border-radius: 5px;	
	border:solid #dcdcdc 1px;	
}
section.testimonials .avatar img{
	border-radius: 5px;
	width: 93%;	
	border: 4px #fff solid;
	margin-bottom:-7px;	
}
section.testimonials .info_testimonial{
	background: #fff;
	padding: 15px 20px;	
	float: right;
	width: 65%;
	border:solid 1px #dcdcdc;	
	border-bottom: 3px solid #dcdcdc;
}
.info_testimonial h5{
	font-style: italic;
	padding: 0 0 5px 0;
	color: #5d5d5d;
}
.info_testimonial h6{
	color: #5d5d5d;
	float: right;
}
.info_testimonial p{
	margin-bottom: 0;
}
.stars{
	float: left;
	width: 50%;
}
section.testimonials .info_testimonial .stars li{	
	float: left;
	padding:8px 5% 0 0;
}
section.testimonials .info_testimonial span.quote-arrow {
	display: block;
	float: left;
	margin-left: -38px;	
	margin-top: 7%;
	z-index: 2;	
	background: url("../img/arrow_testimonial.png") no-repeat;
	width: 24px;
	height: 39px;	
}


/* Footer Up ----------------------------*/

footer.up{
	background-color: #fff;
	padding: 90px 0 55px 0;
}
footer h4{
	color: #5d5d5d;
}
footer.up p, h4{
	margin:0;
	padding: 0;
}
footer.up ul.nav{
	text-align: center;
	padding-top: 50px;
	margin-top: 90px;
	border-top: 1px solid #eeeeee;
}
footer.up ul li{
	display: inline-block;
	padding: 0 1%;	
}
footer.up ul li a{
	color: #46738d;
}

/* Footer Down ----------------------------*/

footer.down{
	background-color: #1e1e1e;
	padding: 18px 0;
	color: #c2c2c2;
}
footer.down p{
	margin:0;
	text-shadow:1px 1px 0 #000;
}


/* ============================= */
/* !   Layout for 1024px version */
/* ============================= */

@media handheld, only screen and (max-width: 1024px) {
	/*slide*/
	header .slide{
		background: url("../img/bg-slide.jpg");
		height: 450px;
	}
	.da-slide .da-link{	
		margin-right: 36.5%;			
	}	
	.da-slide p{	
		margin-right: 41.5%;	 						
	}
}


/* ============================= */
/* !   Layout for 768px version  */
/* ============================= */

@media handheld, only screen and (max-width: 768px) {
	.top{
		text-align: center;
	}
	.registration_login{
		display: none;
	}
	.social{
		margin:0 auto;
		width: 50%;		
		overflow: auto;
	}
	.social li{
		margin: 10px 6% 0 8%;
	}
	
	section.testimonials .info_testimonial{	
		width: 60%;
		border:solid 1px #dcdcdc;
	}
	section.testimonials .testimonial{
		display: block;
		margin-top: 220px;
	}
	section.testimonials h2{
		margin-bottom: -160px;
	}
	.arrow_right, .arrow_left{
		display: none;
	}

	/*slide*/
	header .slide{
		background: url("../img/bg-slide.jpg");
		height: 320px;
	}
	.da-slide .da-img{		
		width: 30%;
		margin-top: 10%;
	}
	.da-slide h2{	
		font-size: 30px;	
		margin-top: 10%;
		line-height: 35px;
	}
	.da-slide .da-link{		
		padding: 5px 8px;	
		border-radius: 5px;
		margin-right: 41%;
		font-size: 10px;
		margin-top: 10px;				
	}
	.da-slide .da-link .button_slide{
		display: none;
	}
	.da-slide p{
		margin-top:-10px;
		margin-right: 35.5%;	 						
	}
	.da-dots{
		width: 25%;	
		margin:0 37.5%;
	}
	.flex-control-nav {
		width: 40%; 		
		margin:10px 30%;
	}
}

/* ============================= */
/* !   Layout for 685px version  */
/* ============================= */

@media handheld, only screen and (max-width: 685px) {
	/*slide*/
	header .slide{
		background: url("../img/bg-slide.jpg");
		height: 300px;
	}
	.da-slide .da-img{		
		width: 30%;
		margin-top: 18%;
	}
	.da-slide h2{	
		font-size: 22px;	
		margin-top: 18%;
		line-height: 25px;
	}
	.da-slide .da-link{		
		padding: 2px 5px;	
		margin-right: 35%;
		margin-top: 0px;				
	}	
	.da-slide p{
		margin-top:-12px;
		margin-right: 28%;	 						
	}

	.testimonials h2 img{
		display: none;
	}
}


/* ============================= */
/* !   Layout for 568px version  */
/* ============================= */

@media handheld, only screen and (max-width: 568px) {
	/*slide*/
	header .slide{
		background: url("../img/bg-slide.jpg");
		height: 260px;
	}
	.da-slide .da-img{		
		width: 30%;
		margin-top: 18%;
	}
	.da-slide h2{	
		font-size: 22px;	
		margin-top: 18%;
		line-height: 25px;
	}
	.da-slide .da-link{		
		padding: 2px 5px;	
		margin-right: 35%;
		margin-top: 0px;				
	}	
	.da-slide p{
		margin-top:-12px;
		margin-right: 28%;	 						
	}

	.testimonials h2 img{
		display: none;
	}
}

/* ============================= */
/* !   Layout for 480px version  */
/* ============================= */

@media handheld, only screen and (max-width: 480px) {

	.logo{
		padding:15px 0 0 10%;		
	}

	/*slide*/
	header .slide{
		background: url("../img/bg-slide.jpg");
		height: 220px;
	}
	.da-slide .da-img{		
		width: 30%;
		margin-top: 16%;
	}
	.da-slide h2{	
		font-size: 16px;	
		line-height: 22px;
		margin-top: 15%;
		margin-right: 15%;
		line-height: 15px;
		margin-bottom: 0;
	}
	.da-slide .da-link{		
		padding: 0;	
		margin-top: -7px;
		border-radius:2px;
		margin-right: 39%;
		font-size: 10px;						
	}
	.da-slide .da-link .button_slide{
		display: none;
	}
	.da-slide p{
		display: none;	 						
	}
}


/* ============================= */
/* !   Layout for 320px version  */
/* ============================= */

@media handheld, only screen and (max-width: 320px) {
	.logo{
		padding:15px 0 0 15%;		
	}

	/*slide*/
	header .slide{
		background: url("../img/bg-slide.jpg");
		height: 180px;
	}
	.da-slide .da-img{		
		width: 30%;
		margin-top: 30%;
	}
	.da-slide h2{	
		font-size: 15px;	
		margin-top: 22%;
		line-height: 15px;
		margin-bottom: 0;
	}
	.da-slide .da-link{		
		padding: 0;	
		margin-top: -7px;		
		margin-right: 26%;
		font-size: 10px;						
	}
	section.testimonials .info_testimonial{	
		width: 58%;
		border:solid 1px #dcdcdc;
	}
	section.testimonials .testimonial{		
		margin-top: 320px;
	}
}