a{
	outline: none;
}

textarea{
	resize: none;
}
html{
	background: url(../images/html_bg.jpg) repeat-x #0a0001;
}
body {
	margin:0;
	padding:0;
	background: url(../images/homepage.jpg) no-repeat;
	background-position:top center;
}
.pngfix {
	behavior: url(js/iepngfix.htc);
}
.clear{
	clear: both; 
}
fieldset, img {
	border:0;
}
.main {
	margin:0px auto;
	padding:0px;
	width:900px;
	border:0px solid red;
	position:relative;
}
.header {
	float:left;
	width:850px;
	height:85px;
	margin:32px 0 0 0;
	display:inline;
}
.logo {
	float:left;
	height:50px;
	width:250px;
	margin-top:7px;
	margin-left:21px;
}
.menu {
	float:right;
	width:325px;
	margin-right:6px;
	margin-top:3px;
	border:0px solid red;
}
.menu ul {
	list-style:none;
}
.menu ul li {
	float:left;
	font:normal 15px Georgia;
	color:#613016;
	margin-right:30px;
	display:inline;
}
.menu ul li a {
	color:#613016;
	text-decoration:none;
}
.menu ul li a:hover {
	color:#4d4d4d;
}
.content {
	position:relative;
	display:block;
	float:left;
	width:100%;
	border:0px solid red;
	min-height:600px;
}
.contentLeft {
	float:left;
	width:410px;
	margin-left:23px;
	position:relative;
	display:inline;
}
.contentRight {
	float:left;
	width:280px;
	position:relative;
	margin-left:20px;
}
.pictureframe {
	float:left;
	position:relative;
}
.frame {
	position:absolute;
	left: -18px;
	top:-12px;
}
.intro {
	float:left;
	width:360px;
	margin:20px 0px 0px 22px;
}
.intro h1 {
	font:normal 13px Georgia;
	color:#55504c;
	margin:5px 0 0 0;
	line-height:22px;
}
.Gallerymenu {
	width:190px;
	height:241px;
	background-image:url(../images/shadowbk.png);
	background-position:top left;
	background-repeat:no-repeat;
	position:absolute;
	left: 137px;
	top: 229px;
	border:0px solid red;
}
.pic1 {
	margin:30px 0 0 35px;
	display:inline;
	behavior: url(js/iepngfix.htc);
}
.pic2 {
	margin:23px 0 0 30px;
	display:inline;
	behavior: url(js/iepngfix.htc);
}
.pic3 {
	margin:9px 0 0 28px;
	display:inline;
	behavior: url(js/iepngfix.htc);
}
.socialb {
	float:left;
	width:160px;
	margin:25px 0 0 25px;
	display:inline;
}
.socialb img {
	margin-left:5px;
}
.redrope {
	position:absolute;
	top:290px;
	left:0px;
}
.footer {
	float:left;
	width:100%;
	text-align:center;
	position: relative;
	top: -14px;
}
.footer p {
	font:normal 13px Georgia;
	margin:0;
	color:#7c7671;
}
.slideshow {
	float:left;
	width:100%;
	position:relative;
}
.arrLeft {
	float:left;
	width:26px;
	height:51px;
	position:absolute;
	left: -14px;
	top: 93px;
}
.arrRight {
	float:right;
	width:26px;
	height:51px;
	position:absolute;
	right: -5px;
	top: 93px;
}
.arrCenter {
	float:left;
	width:850px;
	height:250px;
}
.imgSlideshow {
	float:left;
	margin-left:30px;
	position:relative;
	display:inline;
}
.imgslide {
	position:absolute;
	left:-10px;
	top: 35px;
}

.firstpic {
	margin-left:20px;
	display:inline;
	margin-right:10px;
}
.lastpic {
	margin-left:40px;
	display:inline;
	margin-right:10px;
}
.imgSlideshow h2 {
	text-align:center;
	font:normal 19px Georgia;
	margin:20px 0 0 0;
}
.imgSlideshow h2 a {
	color:#000;
	text-decoration:none;
}
.imgSlideshow a img {
	opacity:1;
}
.imgSlideshow a:hover img {
	opacity:1;
}
.imgSlideshow p {
	text-align:center;
	font:normal 12px Arial;
	color:#595959;
	margin:13px 0 13px 0;
}
.imgSlideshow p a {
	color:#595959;
	text-decoration:none;
}
.paginaregallery {
	float:right;
	height:40px;
	border:0px solid red;
	margin-top:33px;
	margin-right:31px;
}
.paginareLeft {
	float:left;
	background-image:url(../images/paginareLeft.png);
	background-repeat:no-repeat;
	background-position:left;
	height:40px;
	width:7px;
}
.paginareCenter {
	float:left;
	background-image:url(../images/paginareCenter.png);
	background-repeat:repeat-x;
	background-position:left;
	height:40px;
}
.paginareRight {
	float:left;
	background-image:url(../images/paginareRight.png);
	background-repeat:no-repeat;
	background-position:left;
	height:40px;
	width:7px;
}
.paginare {
	float:right;
	height:40px;
	border:0px solid red;
	margin-right:0px;
	margin-top:7px;
}
.page {
	width:23px;
	height:23px;
	float:left;
	margin-left:5px;
}
.page a {
	font:bold 15px Georgia;
	color:#423933;
	text-decoration:none;
	margin:3px 0px 0px 6px;
	border:0px solid red;
	float:left;
}
.page a:hover {
	color:#978a82;
}
#selecteditem {
	background-color:#423933;
	width:23px;
	height:23px;
	float:left;
	margin:3px 0px 0px 6px;
	border:0px solid #7b7b7b;
}
#selecteditem a {
	font:bold 15px Georgia;
	color:#fff;
	text-decoration:none;
	margin:0px 0px 0px 6px;
	border:0px solid red;
	float:left;
}
#selecteditem a:hover {
	color:#fff;
}
.bench {
	position:absolute;
	top:334px;
	left:70px;
}
.categories {
	position:relative;
	float:right;
	width:241px;
	height:50px;
	margin-right:33px;
	margin-top:12px;
}
.categories img {
	position:absolute;
	top:180px;
}
.menuservices {
	float:left;
	width:350px;
	height:300px;
	position:relative;
}
.menuservices ul {
	list-style:none;
	margin:0;
	padding:0;
	display:block;
	position:absolute;
}
.menuservices ul li {
	margin:4px 0 4px 0;
	padding:4px 0 4px 0;
	font:normal 19px Arial;
	color:#545652;
	background-image:url(../images/arrowmenu.png);
	background-position:90% 50%;
	background-repeat:no-repeat;
	height:22px;
	width:350px;
	position:relative;
}
.menuservices ul li img {
	position:absolute;
	top:-5px;
}
.menuservices ul li a {
	color:#545652;
	text-decoration:none;
}
.menuservices ul li a:hover {
	color:#6d2d09;
}
.menuservices ul li .selected {
	color:#6d2d09;
}
.polles {
	float:left;
	position:relative;
}
.polles img {
	position:absolute;
	left: -60px;
	top:200px;
}
.contentTextSlide {
	float:right;
	width:380px;
	margin:0px 35px 0px 0px;
	overflow: hidden;
	height:370px;
	position:relative;
}
.servicesText {
	border:0px solid red;
	margin-bottom:80px;
}
.servicesText p {
	font:normal 13px Georgia;
	color:#55504c;
	line-height:22px;
	margin:0;
}
.servicesText img {
	float:right;
}
.contact {
	float:left;
	width:100%;
}
.form {
	width:400px;
	border:0px solid red;
	float:left;
}
.inputcontact {
	width:210px;
	border:6px solid #525150;
	padding:5px;
	font:normal 14px Georgia;
}
.form_info{
	width: 430px;
	font:normal 14px Georgia;
	color:#55504c;
}
.email_label, .phone_number_label, .your_company_label{
	width: 150px;
	float: left; 
	height: 61px;
	position: relative;
	top: 10px;
}
.email_input{
	width: 270px;
	float: left;
}
.chair {
	float:left;
	position:relative;
}
.chair img {
	position:absolute;
	left: -60px;
	top: 77px;
}
.messagebox {
	float:right;
	width:350px;
	border:0px solid red;
	margin-right:60px;
}
.messageinput {
	width:320px;
	height:230px;
	border:6px solid #525150;
	padding:4px;
	font:normal 14px Georgia;
}
.messagebox img {
	float:right;
	margin-top:25px;
}
.bigCarusel {
	width: 9999px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	top: 0;
}
.bigCarusel li {
	display:block;
	float:left;
	padding: 10px;
	height:640px;
	width: 850px;
}

/* gallery menu */
.galleryMenu {
	border:0px solid red;
	position:absolute;
	bottom:150px;
	right:35px;
	width:224px;
	z-index:1000;
}
.galleryMenu-top {
	width:224px;
	height:18px;
	background-image:url(../images/menu_up.png);
}
.galleryMenu-center {
	width:224px;
	background-image:url(../images/menu_content.png);
}
.galleryMenu-row {
	width:200px;
	float:left;
	margin: 5px 0px 0px 10px;
	padding:2px 0px 4px 0px;
	background-image:url(../images/menu_row_bottom.png);
	background-repeat:no-repeat;
	background-position:bottom;
}
.galleryMenu-row .thisText {
	margin: 0px;
	padding: 0px;
	font: bold 14px Arial;
	color: #e9e2d3;
	float:left;
	margin:0px 0px 0px 10px;
	cursor:pointer;
}
.galleryMenu-row .checkbox {
	width:19px;
	height:19px;
	background-image:url(../images/checkbox.png);
	background-position: 0px -19px;
	cursor:pointer;
	float:left;
}
.galleryMenu-row .checkbox:hover {
	background-position: 0px 0px;
}
.galleryMenu-row .checkboxSelected {
	background-position: 0px 0px;
}
.galleryMenu-bottom {
	width:224px;
	height:18px;
	background-image:url(../images/menu_bottom.png);
}